<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>

      <%= link_to "Home", restaurants_path %>
      <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
      <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
    </div>
  </div>
  <% @restaurant.reviews.each do |r| %>
    <p><%= r.content %></p>
    <p><%= r.rating %></p>
  <% end %>


  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"> Add a review!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
    </div>
  </div>
</div>
